<head>
  <link rel = "stylesheet" href = "css/style.css">
</head>

<body>
<form method = 'post' action = '/home'>
<h2>  Choose a file:</h2><br>
<input type = "file" name = "isbn" accept = ".csv">
<input type = "submit" value = "submit" onclick = "read('csv')">
</form>
</body>
