<head>
  <link rel = "stylesheet" href = "css/style.css">
</head>

<body>
  <% counter = 0 %>
<% file.each do |line| %>
<h2><%= counter += 1 %> your isbn <%= line.join(",").gsub("true", "Valid").gsub("false", "Invalid").gsub(",", " is ") %> 

<% end %>
  </h2>
</body>
