body {
  background: url("/images/book.jpg");
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


input[type=text] {
  border: 2px solid black;
  width: 250px;
  height: 50px;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
  color: black;
}
